@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Rubik:wght@300&display=swap");

:root{
   --fonte_destaque:'Quicksand', sans-serif;
   --font_padrao: Arial, Helvetica, sans-serif;

   --cor0: #45cdff;
   --cor1: #faca3c;
   --cor2: #ffa73c;
   --cor3: #fc713e;
   --cor4: #ff5d4e;
}

html{
    width: 100%;
    justify-content: center;
    overflow-x: hidden;
}

h1{
    font-family: var(--fonte_destaque);
    text-align: center;
    padding-top: 10%;
}

p{
    font-family: var(--fonte_destaque);
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-class-name {
    --primary: 255, 90, 120;
    --secondary: 150, 50, 60;
    width: 60px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    outline: 10px solid rgb(var(--primary), .5);
    border-radius: 100%;
    position: relative;
    transition: .3s;
    margin-top: 10%;
  }
  
  .btn-class-name .back {
    background: rgb(var(--secondary));
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  .btn-class-name .front {
    background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary)) 50%);
    box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
    border-radius: 100%;
    position: absolute;
    border: 1px solid rgb(var(--secondary));
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: inherit;
    transform: translateY(-15%);
    transition: .15s;
    color: rgb(var(--secondary));
  }
  
  .btn-class-name:active .front {
    transform: translateY(0%);
    box-shadow: 0 0;
  }


  .flip-card {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
    margin-left: 5%;
  }
  
  .title {
    font-family: var(--fonte_destaque);
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid coral;
    border-radius: 1rem;
  }
  
  .flip-card-front {
    background-color: #45cdff;
  }
  
  .flip-card-back {
    background-color: #faca3c;
    color: white;
    transform: rotateY(180deg);
  }

  div#projetos{
    display: flex;
  }

  div#projeto1{
    background-image: url(source/img_rio.jpg);
    background-position: center bottom;
  }
  div#projeto1>p{
    color: white;
  }

  .voltar{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
  }
  a>button{
    border-radius: 5px;
    border: none;
    background-color: #9900ff;
  }
  